[Unit]
Description=Corrade Bot
After=network.target

[Service]
ExecStartPre=-/bin/rm -f /opt/corrade/live/Corrade.exe.lock
ExecStart=/usr/bin/mono-service -d:/opt/corrade/live/ -l:/opt/corrade/live/Corrade.exe.lock /opt/corrade/live/Corrade.exe
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=corrade
User=corrade
Group=corrade
Environment=PATH=/usr/bin/:/usr/local/bin/
WorkingDirectory=/opt/corrade/live

[Install]
WantedBy=multi-user.target